/* body {
  background-image: url(https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=05eb19761edddd58032dd4b6668dae3a);
  background-size: cover;
  background-position: center;
} */
.App {
  text-align: center;
  background-color: rgba(255,255,255,.95);
  height:100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.App-intro {
  font-size: large;
}

#output {
  display:none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.radio {
  display: inline;
}

input[name="sortBy"].checked~label {
  font-weight: bold;
}

input[name="sortBy"] {
  display: none;
}

input[name="sortBy"]~label {
  padding: 0 10px;
  border-right: 1px solid white;
  padding-right: 20px;
  position: relative;
}

.class:last-child label {
  border-right: none;
}

i.arrow {
  position: absolute;
  right: 2px;
  top: 0.2rem;
  background-color: white;
  height: 10px;
  width: 10px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

input[name="sortBy"].asc~label i.arrow {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}