/* body {
  background-image: url(https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=05eb19761edddd58032dd4b6668dae3a);
  background-size: cover;
  background-position: center;
} */

.App {
  text-align: center;
  background-color: rgba(255, 255, 255, .95);
  font-family: Violina;
}

#output {
  display: none;
  background-color: #f5f7dc;
}

section.search {
  background-color: #bcebcb;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  /* height: 264px; */
}

input#search-term {
  line-height: 62px;
  font-size: 50px;
  border-radius: 10px;
  /* margin-top: 65px; */
  /* margin-right: 60px; */
  /* width: 70%; */
  padding-left: 4%;
}

input#search-term::placeholder {
  color: lightgray;
}

button#search-button {
  font-size: 50px;
  background: #FFFF82;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.radio-list {
  margin-top: 35px;
  /* margin-bottom: 40px; */
  font-size: 36px;
  line-height: 38px;
}

.radio {
  display: inline;
  /* font-size: 1.8rem; */
}

input[name="sortBy"].checked~label {
  font-weight: bold;
  background-color: #d4d4d4;
}

input[name="sortBy"] {
  display: none;
}

input[name="sortBy"]~label {
  padding: 10px 60px;
  border-right: 1px solid white;
  position: relative;
  background-color: #c4c4c4;
  border-right: 1px solid black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
}

section.search .searchInput {
  display: grid;
  grid-template-columns: 1fr 270px;
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

input[name="sortBy"]~label:hover {
  background-color: #d4d4d4;
}

.radio.radio-inline-first input[name="sortBy"]~label {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.radio.radio-inline-last input[name="sortBy"]~label {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-right:none;
}

.class:last-child label {
  border-right: none;
}

i.arrow {
  position: absolute;
  right: 0.8rem;
  top: 1.4rem;
  background-color: black;
  height: 1rem;
  width: 1rem;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

input[name="sortBy"].asc~label i.arrow {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}