.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-gh {
  width: 300px;
  position: absolute;
  top:45vh;
  left:40vw;
}

.search-gh img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.search-gh .overlay {
  width: 300px;
  position: absolute;
  top: 0;
  -webkit-clip-path: circle(18% at 16% 75%);
  clip-path: circle(18% at 16% 75%);
  -webkit-animation: animateSearch 2s infinite;
  animation: animateSearch 2s infinite;
}

@-webkit-keyframes animateSearch {
  100%,
  0% {
    -webkit-clip-path: circle(18% at 16% 25%);
    clip-path: circle(18% at 16% 25%);
  }
  25% {
    -webkit-clip-path: circle(18% at 84% 25%);
    clip-path: circle(18% at 84% 25%);
  }
  50% {
    -webkit-clip-path: circle(18% at 16% 75%);
    clip-path: circle(18% at 16% 75%);
  }
  75% {
    -webkit-clip-path: circle(18% at 84% 75%);
    clip-path: circle(18% at 84% 75%);
  }
}

@keyframes animateSearch {
  100%,
  0% {
    -webkit-clip-path: circle(18% at 16% 25%);
    clip-path: circle(18% at 16% 25%);
  }
  25% {
    -webkit-clip-path: circle(18% at 84% 25%);
    clip-path: circle(18% at 84% 25%);
  }
  50% {
    -webkit-clip-path: circle(18% at 16% 75%);
    clip-path: circle(18% at 16% 75%);
  }
  75% {
    -webkit-clip-path: circle(18% at 84% 75%);
    clip-path: circle(18% at 84% 75%);
  }
}